#footer
  .footer-inner
    %address
      = image_tag "/assets/images/img-copy.gif", alt: "Copyright c SHOJOSKIP All right reserved.", width: "233", height: "11"
    %ul
      %li
        = link_to image_tag("img-navifooter1.gif", alt: "TOP", width: "50", height: "76", onmouseout: "this.src='/assets/images/img-navifooter1.gif';", onmouseover: "this.src='/assets/images/img-navifooter1-on.gif';"), "http://www.syoujyoskip.com/"
      %li
        = link_to image_tag("/assets/images/img-navifooter2.gif", alt: "NEWS", width: "68", height: "76", onmouseout: "this.src='/assets/images/img-navifooter2.gif';", onmouseover: "this.src='/assets/images/img-navifooter2-on.gif';"), "http://syoujyoskip2.blog77.fc2.com/"
      %li
        = link_to image_tag("/assets/images/img-navifooter3.gif", alt: "SHOWS", width: "75", height: "76", onmouseout: "this.src='/assets/images/img-navifooter3.gif';", onmouseover: "this.src='/assets/images/img-navifooter3-on.gif';"), "shows.html"
      %li
        = link_to image_tag("/assets/images/img-navifooter4.gif", alt: "MUSIC", width: "70", height: "76", onmouseout: "this.src='/assets/images/img-navifooter4.gif';", onmouseover: "this.src='/assets/images/img-navifooter4-on.gif';"), "music.html"
      %li
        = link_to image_tag("/assets/images/img-navifooter5.gif", alt: "VIDEO", width: "77", height: "76", onmouseout: "this.src='/assets/images/img-navifooter5.gif';", onmouseover: "this.src='/assets/images/img-navifooter5-on.gif';"), "video.html"
      %li
        = link_to image_tag("/assets/images/img-navifooter6.gif", alt: "GALLERY", width: "68", height: "76", onmouseout: "this.src='/assets/images/img-navifooter6.gif';", onmouseover: "this.src='/assets/images/img-navifooter6-on.gif';"), "gallery.html"
      %li
        = link_to image_tag("/assets/images/img-navifooter7.gif", alt: "CONTACT", width: "72", height: "76", onmouseout: "this.src='/assets/images/img-navifooter7.gif';", onmouseover: "this.src='/assets/images/img-navifooter7-on.gif';"), "contact.html"
/ footer