#header
  .header-inner
    %h1
      = link_to image_tag("img-logo.gif", alt: "SHOJOSKIP 少女スキップ", width: "426", height: "79"), "/"
    .navi-top
      %ul
        %li.top(class="#{val == 'top' ? 'top-on' : ''}")
          = link_to "TOP", "/" 
        %li.news(class="#{val == 'news' ? 'news-on' : ''}")
          = link_to "NEWS", "http://syoujyoskip2.blog77.fc2.com/" 
        %li.shows(class="#{val == 'shows' ? 'shows-on' : ''}")
          = link_to "SHOWS", "shows.html" 
        %li.music(class="#{val == 'music' ? 'music-on' : ''}")
          = link_to "MUSIC", "music.html" 
        %li.video(class="#{val == 'video' ? 'video-on' : ''}")
          = link_to "VIDEO", "video.html" 
        %li.gallery(class="#{val == 'gallery' ? 'gallery-on' : ''}")
          = link_to "GALLERY", "gallery.html" 
        %li.contact(class="#{val == 'contact' ? 'contact-on' : ''}")
          = link_to "CONTACT", "contact.html" 
      .clear
        %hr/
/ header

-#header
  .header-inner
    %h1= link_to image_tag("img-logo.gif", alt: "SHOJOSKIP 少女スキップ", width: "426", height: "79"), "/"
    .navi-top
      %ul
        - navigations = [['TOP', '/'], ['NEWS', 'http://syoujyoskip2.blog77.fc2.com/'], ['SHOWS', '/shows.html'], ['MUSIC', '/music.html'], ['VIDEO', '/video.html'], ['GALLERY', '/gallery.html'], ['CONTACT', 'contact.html']]
        - for i in 0..navigations.length - 1
          %li{class: "#{navigations[i][0].swapcase}#{val == navigations[i][0].swapcase ? ' '+navigations[i][0].swapcase+'-on' : ''}"}= link_to navigations[i][0], navigations[i][1]
      .clear
        %hr/

